version: '3.8'
services:
  backend:
    build:
      context: ./app/backend
      dockerfile: Dockerfile
    env_file:
      - ./app/backend/app/.env
    ports:
      - "8000:8000"
    restart: unless-stopped
    container_name: backend-bookloom

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
    container_name: frontend-bookloom
networks:
  default:
    driver: bridge
